<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register an account</title>
</head>
<body>
    <h1>Register an account with us today!!!</h1>
    <form action="/account/register" method="post">
        <label for="name">Full name</label>
        <input type="text" name="name" id="name" value="<%= locals.name %> ">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Register!">
    </form>
</body>
</html>